html, body {
  margin: 0;
  overflow: hidden;
  background: #000;
  font-family: sans-serif;
}

#video {
  display: none;
}

#ui {
  position: fixed;
  top: 12px;
  left: 12px;
  display: flex;
  gap: 10px;
  background: rgba(0,0,0,0.5);
  padding: 8px;
  border-radius: 10px;
}

select, input, button {
  background: #111;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}
